.sider 
  .inner-menu
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) Tổng quát

      li 
        a(href=`${prefixAdmin}/topics`) Quản lý chủ đề
      
      li 
        a(href=`${prefixAdmin}/songs`) Quản lý bài hát

      li 
        a(href=`${prefixAdmin}/singers`) Quản lý ca sĩ

      li 
        a(href=`${prefixAdmin}/roles/permissions`) Phân quyền 
      
      li 
        a(href=`${prefixAdmin}/accounts`) tài khoản admin

      li 
        a(href=`${prefixAdmin}/users`) tài khoản user

      li 
        a(href=`${prefixAdmin}/settings`) Cài đặt chung

    