.sider 
  .inner-menu
    ul 
      li 
        a(href=`/${prefixAdmin}/dashboard`) Tổng quát

      li 
        a(href=`${prefixAdmin}/topics`) Quản lý chủ đề
      
      li 
        a(href=`${prefixAdmin}/songs`) Quản lý bài hát

      li 
        a(href=`${prefixAdmin}/roles/promissions`) Phân quyền 
      
      li 
        a(href=`${prefixAdmin}/accounts`) Quản lý tài khoản admin

      li 
        a(href=`${prefixAdmin}/users`) Quản lý tài khoản user

      li 
        a(href=`${prefixAdmin}/settings`) Cài đặt chung

    